.form {
  background: white;
  padding: 20px;

  label {
    display: block;
    width: 100%;
    color: black;
  }

  input {
    margin-bottom: 0.5rem;
    height: 50px;
    display: block;
    width: 100%;
  }
}